/*

CSS LAYOUT
element{
  self-modification that doesn't effect geometry/positioning
    ie: text size, background, color,
  self-modification that effects geometry/positioning
    ie: Position, Height, Width, Top, Margin, Padding

  modification that effects child elements geometry/positioning
    ie: display:flex, flex-direction, justify content
}

 */

 /* color theme https://www.design-seeds.com/in-nature/nature-made/botanical-hues-3/?fbclid=IwAR0O-hUj92RtLfGHr1FcXAHPWhLuGFfNaXUpop0UYv-XKDrX6PItX2Dsdy0
 hex
 #99BCA6   background
 #EBE3DE  font
 #204638  strong
 */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* border:1px soild red; */
}

/* HEADING */
    .background-colored{
      background-color: #99BCA6;
      color: #EBE3DE;

      position: relative;
      height: 175px;
    }

    .heading{
      text-align: center;

      margin: auto;
      border-collapse: collapse;
      display: table;

      position: relative;
    }

    .heading h1{
      font-family: acumin-pro, sans-serif;
      font-weight: 400;
      font-size: 28px;

      width: 400px;
      margin-top: 60px;
    }

    span{
      color: #204638;
      font-weight: 600;
    }


/* BODY */
    html{
      background-color: #EBE3DE;
    }

    body{
      color: #EBE3DE;
    }

    main{

    }

    .container{
      color: #204638;


      width: 80%;
      margin: auto;
      margin-top: 100px;

      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    .bio{
      width: 45%;
    }

    .bio h1{
      background: #99BCA6;
      color: #EBE3DE;

      padding: 3px;
      border-radius: 5px;

    }

    .portrait{
      width: 45%;
    }

    .portrait-img{
      width: 100%;
      border-radius: 5px;

    }
