
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
  background: hsl(0, 0%, 15%);
}

body{
    font-family: 'Open Sans', sans-serif;
    color:white;
    overflow:auto;
    }

    .background{
      background:url("../assets/title background.jpg") center center no-repeat;
      background-size:cover;
      z-index: -1;
      height:100vh;
      width:100vw;
      position: fixed;
      top:0;
      left:0;
      /* display: absolute; */
    }

.intro {
    display: flex;
    flex-direction: column;
    background-color: hsl(0, 0%, 15%, 80%);
    position:relative;
    margin:10rem auto 0 0;
    padding:1rem;
    width:30rem;
    }

  .intro h1,
  .intro h2,
  .intro ul{
    margin-bottom: 1rem;
  }

  .intro ul{
    margin-left: 1rem;
  }

.afterintro{
    margin-top: 25rem;
    height:40rem;
    background:linear-gradient(hsl(0, 0%, 15%, 90%), black);
    display: flex;
    flex-direction: column;
  }

.meat{
  display:grid;
  grid-template-columns: repeat(3,1fr);
}

.writing{
  position:relative;
  margin: 0 10rem 0 0;
  padding:1rem;
  width:65%;
  min-width:350px;
}

    .about{
      /*background-color: green; /*hsl(0, 0%, 15%, 80%);  maybe make a constrasting color?*/

    }

    .projects{

    }

.imageContainer{
  background:url('../assets/baja 2.jpeg') center center no-repeat;
  background-size: contain;
  width:20%;
  min-width:150px;
  min-height:150px;
  margin-top:1rem;
  }



.divider{
  width:100%;
  background:linear-gradient(hsl(0, 0%, 15%, 90%) 100%, hsl(0, 0%, 15%, 90%) 100%), url('../assets/mech_drawing_v2.jpg')bottom center no-repeat;
}


footer{
    display: flex;
    justify-content: space-between;
    width:100%;
  }

  .contactUl{
    list-style-type: none;
    display: flex;
    flex-direction:column;
    padding:1rem;
    padding-bottom:2rem;
    text-align: right;
  }

  footer h2{
    padding-top: 1rem;
  }

  footer a{
    margin:1rem .5rem;
  }

/* Fonts */
h1{
  font-size: 2rem;
  font-weight:400;
  }

  strong{
    color:hsl(232, 97%, 75%);
    font-weight: 800;
  }

  h2,
  .nav-links{
    font-size: 1.25rem;
    font-weight:200;
  }

  p{
    font-size: 1.25rem;
    font-weight:200;
  }

  a{
    font-size:1.25rem;
    color:white;
    text-decoration: none;
  }


@media screen and (max-width:800px){

  .background{
      background:url("../assets/welding_3.jpg") center top no-repeat;
      height: 60rem;

  }

  .intro{
    width:100%;
    margin-top:4rem;
  }

  h1{
    font-size: 1.5rem;
    font-weight:400;
    }


}
