/*

CSS LAYOUT
element{
  self-modification that doesn't effect geometry/positioning
    ie: text size, background, color,
  self-modification that effects geometry/positioning
    ie: Position, Height, Width, Top, Margin, Padding

  modification that effects child elements geometry/positioning
    ie: display:flex, flex-direction, justify content
}

 */

 /* color theme https://www.design-seeds.com/in-nature/nature-made/botanical-hues-3/?fbclid=IwAR0O-hUj92RtLfGHr1FcXAHPWhLuGFfNaXUpop0UYv-XKDrX6PItX2Dsdy0
 hex
 #99BCA6   background
 #EBE3DE  font
 #204638  strong
 */

 footer{
   border-top: 3px solid #EBE3DE;
   background-color: #99BCA6;
   color: #EBE3DE;

   position: relative;
   margin: auto;
   margin-top: 65px;

   padding: 20px 0 20px 0;
   top: 250px;
 }

.inner-footer{
  margin:auto;
  width: 80%;
  display: flex;
  justify-content: space-between;
}

 footer a{
   color: #EBE3DE;
   text-decoration: none;
 }

 footer ul{
     padding-top: 10px;
 }

 footer li{
     list-style-type: none;
     text-align: right;

     width: 200px;
 }

 footer h2{
   font-size: 35px;

   width: 200px;
 }


 @media screen and (max-width:1725px) {

       footer{
         top: 300px;
       }

     }


@media screen and (max-width:540px) {

  footer{
      top: 300px;
      text-align: center;
  }

  .inner-footer{
      flex-direction: column;
  }

  footer li, footer h2{
      text-align: center;
      margin: auto;
  }

}
