
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* color theme https://www.design-seeds.com/in-nature/nature-made/botanical-hues-3/?fbclid=IwAR0O-hUj92RtLfGHr1FcXAHPWhLuGFfNaXUpop0UYv-XKDrX6PItX2Dsdy0 */

body{
  /* background-color: #3B715A; */
  background-color: #99BCA6;
  color: #EBE3DE;
}

.main{
  position: relative;
  top:250px;
  width:80%;
  margin:auto;

  display:grid;
  grid-template-areas: "intro      printer"
                       "photos-a  space"
                       "photos-b  photos-b";
  grid-template-rows:200px auto;
  grid-template-columns:auto;
  justify-content: space-between;
}

.intro{
  grid-area: intro;

  font-family: acumin-pro, sans-serif;
  font-weight: 400;
  font-size:40px;
}
  span{
    color:#204638 ;
    font-size: 85px;
  }
  #subtitle{
    font-size:30px;
  }

.printer{
  grid-area:printer;
  width:100%;
}
  .img{
    height:500px;
  }

.images{
  grid-area:photos-a;

  display: flex;
}
  .image{
    width:20%;
    padding-right:3%;
  }





.divider{
  display: none;
}
footer{
  position: relative;
padding-top:100px;
}
