/*

CSS LAYOUT
element{
  self-modification that doesn't effect geometry/positioning
    ie: text size, background, color,
  self-modification that effects geometry/positioning
    ie: Position, Height, Width, Top, Margin, Padding

  self- modification that effects child elements geometry/positioning
    ie: display:flex, flex-direction, justify content
}

 */

 /* color theme https://www.design-seeds.com/in-nature/nature-made/botanical-hues-3/?fbclid=IwAR0O-hUj92RtLfGHr1FcXAHPWhLuGFfNaXUpop0UYv-XKDrX6PItX2Dsdy0 */


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* border:1px soild red; */
}

body{
  /* background-color: #3B715A; */
  background-color: #99BCA6;
  color: #EBE3DE;
}

.main{
  position: relative;
  top:250px;
  width:80%;
  margin:auto;

  display:grid;
  grid-template-areas: "intro      printer"
                       "photos-a  space"
                       "photos-b  photos-b";
  grid-template-rows:200px auto;
  grid-template-columns:auto;
  justify-content: space-between;
}

.intro{
  font-family: acumin-pro, sans-serif;
  font-weight: 400;
  font-size: 35px;

  grid-area: intro;
}
  h1{
      line-height: .85;
      padding-bottom: 10px;
  }

  span{
    color: #204638 ;
    font-size: 75px;
  }
  #subtitle{
    font-size:30px;
  }

.printer{
  width:100%;

  grid-area:printer;
}
  .img{
    height:450px;
  }


.images{
  grid-area:photos-a;

  display: flex;
}


  .image{
    width:22%;
    height: inherit;
    margin:1.5%;
    background-color: #EBE3DE;
    border-radius: 15px;
  }


footer{
  border-top: 3px solid #EBE3DE;

  position: relative;
  margin: auto;
  width: 80%;
  padding: 20px 0 20px 0;
  top:350px;

  display: flex;
  justify-content: space-between;
}


footer a{
  color: #EBE3DE;
  text-decoration: none;
}

footer ul{
    padding-top: 10px;
}

footer li{
    list-style-type: none;
    text-align: right;

    width: 200px;
}

footer h2{
  font-size: 35px;

  width: 200px;
}



@media screen and (max-width:1725px) {


  .main{
    top:50px;

    display:flex;
    flex-direction:column;
  }

  .printer{
    display: flex;
    justify-content: center;
  }
    .img{
      height:120px;
      margin-top:50px;
    }

  .intro{
      margin:auto;

      display: flex;
      flex-direction:column;
      text-align: center;
  }

  .images{
    max-height: 180px;
    max-width: 700px;
    margin: auto;
    margin-top: 20px;
  }


    .image{

    }

    .img4{

    }

    footer{
      top: 100px;

    }


}


@media screen and (max-width:540px) {
  .images{
    padding-top: 25px;

    width: 85%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .image{
    width: 40%;
  }

  footer{
      top:300px;
      width: 95%;
      text-align: center;

      flex-direction: column;
  }

  footer li, footer h2{
      text-align: center;
      margin: auto;
  }

}
