
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* color theme https://www.design-seeds.com/in-nature/nature-made/botanical-hues-3/?fbclid=IwAR0O-hUj92RtLfGHr1FcXAHPWhLuGFfNaXUpop0UYv-XKDrX6PItX2Dsdy0 */

body{
  /* background-color: #3B715A; */
  background-color: #99BCA6;
  color: #EBE3DE;
}

.main{
  position: relative;
  top:250px;
  width:80%;
  margin:auto;

  display:grid;
  grid-template-areas: "intro      printer"
                       "photos-a  space"
                       "photos-b  photos-b";
  grid-template-rows:200px auto;
  grid-template-columns:auto;
  justify-content: space-between;
}

.intro{
  grid-area: intro;

  font-family: acumin-pro, sans-serif;
  font-weight: 400;
  font-size:35px;
}
  span{
    color: #204638 ;
    font-size: 75px;
  }
  #subtitle{
    font-size:30px;
  }

.printer{
  grid-area:printer;
  width:100%;
}
  .img{
    height:450px;
  }

.spacer{
  display: none;
  height:100px;
}

.images{
  display: flex;

  grid-area:photos-a;

}
  .image{
    width:20%;
    margin-right:3%;
    background-color: #EBE3DE;
    border-radius: 15px;
  }



.divider{
  /* margin-top: 350px;
  margin-bottom: 50px; */

  position: absolute;
  top: 95vh;
  width: 100%;
}

.footerbackground{
  /* background-image: url("../assets/mech_drawing_v2.jpg"); */
  margin: auto;
  width:80%;
  border-top: 3px solid #EBE3DE;
  padding-bottom: 20px;
}

footer{
  padding-top:20px;
  display: flex;
  color: #EBE3DE;
  justify-content: space-between;
}

footer a{
  color: #EBE3DE;
  text-decoration: none;

}

footer li{
    list-style-type: none;
    text-align: right;
}

footer h2{
  font-size: 35px;
}



@media screen and (max-width:1725px) {


  .main{
    display:flex;
    flex-direction:column;

    top:100px;
  }

  .printer{
    display: flex;
    justify-content: center;
  }
    .img{
      height:120px;
      margin-top:50px;
    }

  .intro{
      display: flex;
      flex-direction:column;
      text-align: center;

      margin:auto;
  }

  .images{
      justify-content: center;

      margin: auto;
      margin-top: 50px;
      width: 530px;
  }

    .image{
      width: auto;
    }

    .img4{
      padding-right: 0;
    }

}


@media screen and (max-width:720px){
  .footerbackground{
    width:95%
}
