/*

CSS LAYOUT
element{
  self-modification that doesn't effect geometry/positioning
    ie: text size, background, color,
  self-modification that effects geometry/positioning
    ie: Position, Height, Width, Top, Margin, Padding

  self- modification that effects child elements geometry/positioning
    ie: display:flex, flex-direction, justify content
}

 padding: top, right, bottom, left

 */


/* LARGE DISPLAYS */

* {
  text-decoration: none;
  font-family: acumin-pro, sans-serif;

  box-sizing: border-box;
  padding: 0;
  margin: 0;

}

.navthing{
  width:100%;
  z-index:1;
}

.big-container{
  border-bottom:3px solid #EBE3DE;

  width:80%;
  margin:auto;

  display: flex;
  justify-content: space-between ;
}

.current{
  font-family: acumin-pro, sans-serif;
  color: #EBE3DE;

  /* margin:auto; */
  padding-left:1rem;
  padding:1rem 0;
}

.bar-text{
  font-size: 28px;
}

.navbar{
  /* border-bottom:3px solid #021C12; */
}

.main-nav{
  list-style-type: none;

  width:450px;
  padding:1rem 0;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-links{
  /* padding-left:60px; */
  color:#EBE3DE;
}

.nav-links:hover{
  color: #204638;
}

.compressed{
  display: none;
}

#clicker{
  display: none;
}

#popCurrent{
  background-color: #99BCA6;

  width: 100vw;
  height: 60px;
  position: absolute;

  text-align: center;
}

@media screen and (max-width:720px){
  .big-container{
    width: 95%;
    height: 60px;

    flex-direction:column;
  }

  .bar-text{
    font-size: 28px;
  }

  .large{
    display: none;
  }

  .current{
    padding: 5px 10px 5px 0;
    margin: auto;

    font-size: 34px;
  }

  .compressed{
    will-change: opacity; /*need to add opacity js elements*/
    background-color: #EBE3DE;

    height: 100vh;
    width: 100vw;
    z-index: 2;
    position: fixed;
    display: none;
    left: 0;

    justify-content: center;
  }

  #clicker{
    font-size: 1.5rem;

    position: absolute;
    top: 20px;
    right: 3%;
    z-index: 5;

    display: block;
  }

  .mobile-nav{
    list-style-type:none;

    position: relative;
    top: 55px;
  }

  .nav-links{
    color: #99BCA6;

    display: block;
    margin: .7rem ;
  }

}
