/* LARGE DISPLAYS */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.navthing{
  width:100%;
  z-index:1;
}

.big-container{
  width:80%;
  margin:auto;
  display: flex;
  justify-content: space-between ;
  border-bottom:3px solid #EBE3DE;
}

.current{
  margin:auto 0;
  padding-left:1rem;
      color: #EBE3DE;


  /* border-bottom:3px solid #021C12; */
  padding:1rem 0Q;
}

.bar-text{
  font-size: 28px;
}

.navbar{
  /* border-bottom:3px solid #021C12; */
}

.main-nav{
  display: flex;
  width:450px;
  list-style-type: none;
  flex-direction: row;
  justify-content: space-between;
  padding:1rem 0;
}

.nav-links{
  /* padding-left:60px; */
  color:#EBE3DE;
}

.nav-links:hover{
  color: #204638;
}

.compressed{
  display: none;
}

#clicker{
  display: none;
}


@media screen and (max-width:600px){
  .big-container{
    width:95%;
    flex-direction:column;
  }

  .bar-text{
    font-size: 1.5rem;
  }

  .large{
    display: none;
  }

  .current{
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-left: 0;
  }

  .compressed{
    display:none;
    /* display: flex; */
    justify-content: center;
  }


  #clicker{
    font-size: 1.5rem;
    position: absolute;
    display: block;
    top:.8rem;
    right:2.5%;
  }

  .mobile-nav{
    list-style-type:none;
  }

  .nav-links{
    display: block;
    margin: .7rem ;
  }

}
