
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


.navbar {
    padding-bottom: 0;
    height: 70px;
    background-color: hsl(0, 0%, 15%, 90%);
    }

    .big-container{
      width:80%;
      margin:0 auto;
      border:1px solid orange;
      height:inherit;
      display:flex;
      flex-direction: row;
      justify-content: space-between;

    }

    .current{
      border: 1px solid red;
      margin-top: 1rem;
    }


    .main-nav {
      margin-top: 1rem;
      display: flex;
      flex-direction: row;
      list-style-type:none;
      border:1px solid green;
      }

    .nav-links {
      border: 1px solid yellow;
      margin:0 1.5rem;
     }

     .nav-links:hover {
       color:hsl(232, 97%, 75%);
     }


     #chkToggle:checked + ul.main-nav {
       display: flex;
    }
      .navbar-toggle {
        display: none;
        }
      input{
        display: none;
      }

      .bar-text{
        font-size:22px;
      }


@media screen and (max-device-width:768px){

  .big-container{
    width:95%;
  }

  .current{
    margin-top:.2rem;
  }

  .main-nav{
    display: none;
  }

  .navbar-toggle {
    position: absolute;
    top: .8rem;
    right: 20px;
    cursor: pointer;
    color: white;
    font-size: 4rem;
  }

  #chkToggle{
    display: flex;
  }

  #chkToggle:checked+ul.main-nav{
    display:block;
    background-color: hsl(0, 0%, 15%, 90%);
  }
}

/*
 @media screen and (min-device-width:768px){

  .navbar {
      display: flex;
      justify-content: space-between;
      padding-bottom: 0;
      height: 70px;
      align-items: center;
      background-color: hsl(0, 0%, 15%, 90%);
      }




      .main-nav {
        display: flex;
        margin:0 auto;
        flex-direction: row;
        justify-content: flex-end;
        padding: .5rem 0;
      }

      .main-nav li {

      }

      .nav-links {
        margin:0 1.5rem;
        font-size: 1.5rem;
      }

      .navbar-toggle {
          display: none;
        }

      .contactUl{
          padding:0;
          padding-bottom: .5rem;
        }
        footer h2{
          font-size: 2rem;
        }

        footer li{
          font-size: 1.5rem;
        }



  h1{
    font-size: 2.5rem;
    font-weight:400;
    }

    strong{
      color:hsl(232, 97%, 75%);
      font-weight: 800;
    }

    h2{
      font-size: 1.25rem;
      font-weight:200;
    }


    p{
      font-size: .8rem;
      font-weight:400;
    }

    a{
      font-size:.8rem;
    }


} */
